<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3 >
        Este blog personal pretede cubrir el aprendizaje de Typescript, donde se registrarán los temas que aprenda progresivamente además de tecnologías relacionadas.
         <a href="{{'/notes' | relative_url}}"> Registro de aprendizaje </a>, <br>Si quieres saber como nació este proyecto visita <a href="{{'/post/features' | relative_url}}"> Acerca de </a> <a href="https://www.instagram.com/dev.gabrielcodes/">dev.gabrielcodes</a> 
         <!--<a href="{{'/post/how-to' | relative_url}}"> how to</a>.-->
        </h3> 
</div> </div>

